<% layout("/layouts/boilerplate") %>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <h2><b>Create a List</b></h2>
      <form
        method="POST"
        action="/listings/<%= listing._id %>?_method=PUT"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            ><b>Title</b></label
          >
          <input
            type="text"
            value="<%=listing.title %>"
            class="form-control form-input"
            id="exampleFormControlInput1"
            name="listing[title]"
            placeholder="enter title"
            required
          />
        </div>

        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"
            >Description</label
          >
          <textarea
            class="form-control form-input"
            id="exampleFormControlTextarea1"
            name="listing[description]"
            rows="4"
            required
          >
          <%= listing.description %>
          </textarea>
          <div class="invalid-feedback">enter valid description!</div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label"><b>Upload Image</b></label>
          <input
            type="file"
            value="<%= listing.image.url %>"
            class="form-control form-input"
            id="exampleFormControlInput1"
            name="listing[image]"
          />
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="categorySelect" class="form-label"
              ><b>Category</b></label
            >
            <select
              class="form-select form-input"
              id="categorySelect"
              name="listing[category]"
              required
            >
              <% const categories = ["uncategorized", "trending", "rooms",
              "beach", "mountains", "luxury", "budget", "camping", "farms",
              "castles"]%> <% categories.forEach(cat => { %> <option value="<%=
              cat %>" <%= listing.category === cat ? "selected" : "" %>><%= cat
              %> <% }) %>
            </select>
            <div class="invalid-feedback">please select a category!</div>
          </div>

          <div class="mb-3l col-md-8">
            <label for="exampleFormControlInput1" class="form-label"
              ><b>Price (₹)</b>
            </label>
            <input
              type="number"
              value="<%= listing.price %>"
              class="form-control form-input"
              id="exampleFormControlInput1"
              name="listing[price]"
              required
            />
            <div class="invalid-feedback">Right amount needed!</div>
          </div>

          <div class="mb-3 col-md-4">
            <label for="exampleFormControlInput1" class="form-label"
              ><b>Location</b>
            </label>
            <input
              type="text"
              value="<%= listing.location %>"
              class="form-control form-input"
              id="exampleFormControlInput1"
              name="listing[location]"
              required
            />
            <div class="invalid-feedback">enter valid location!</div>
          </div>

          <div class="mb-3l col-md-8">
            <label for="exampleFormControlInput1" class="form-label"
              ><b>Country</b>
            </label>
            <input
              type="text"
              value="<%= listing.country %>"
              class="form-control form-input"
              id="exampleFormControlInput1"
              name="listing[country]"
              required
            />
            <div class="invalid-feedback">enter a Country name!</div>
          </div>
        </div>

        <button class="form-button">submit</button>
      </form>
    </div>
  </div>
</body>
